/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {

	.navbar-collapse{
		padding-right: 0;
	}


}


/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width:1199px){

	.dropdown i{
		display: none;
	}

	/* Header */

	ul.navbar-nav > li {
    	padding: 0 10px;
	}

	ul.navbar-nav > li > a,
	.dropdown-menu li a{
		font-size: 12px;
	}

	/* Clients */

	.clients-logo{
		margin-bottom: 20px;
	}

	/* Subscribe */

	.newsletter-form input{
		min-width: 340px;
	}

	/* Action box */

	.action-box-text{
		font-size: 13px;
	}

	/* Footer */

	.footer-social ul li {
   	margin: 0 3px 0 0;
   }

   .footer-menu {
    	float: none;
	}

	#back-to-top.affix {
    	bottom: 35px;
	}

	#back-to-top {
    	right: 15px;
   }


}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

	/* top info */

	ul.top-info li{
		padding-right: 12px;
	}

	/* Header */

	.navbar-fixed{
		position: relative;
		animation:none;
	}

	.logo{
    	text-align: center;
    	width: 100%;
	}

	.nav-style-boxed .logo{
		padding: 30px 0 25px 10px;
	}

	/* Navigation breakpoint */

   .navbar-toggle{
   	display: block;
		position: absolute;
    	top: 0;
    	right: 25px;
    	margin-top: 28px;
    	z-index: 1;
	}

   .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
   }

   .navbar-collapse.collapse {
      display: none !important;
   }

   ul.navbar-nav {
      float: none !important;
		margin-top: 7.5px;
	}

	ul.navbar-nav>li {
      float: none;
      display: block;
      line-height: normal;
   }

    .collapse.in{
  		display: block !important;
	}

	.navbar-collapse.in {
    overflow-y: auto;
	}

	ul.nav li.dropdown:hover ul.dropdown-menu {
    	display: none;
	}

	ul.nav li.dropdown.open ul.dropdown-menu {
    	display: block;
	}

	.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	}


	/* Navigation */

	.site-nav-inner{
		width: 100%;
		display: inline-block;
		background: #1c1c1c;
		background: rgba(0, 0, 0, 0.95);
	}

	.navbar-collapse{
		width: 100%;
		box-shadow: none;
		border: 0;
	}

	ul.navbar-nav > li:hover > a:after,
	ul.navbar-nav > li.active > a:after{
		content: '';
	}

	.dropdown-menu li a{
		color: #fff;
	}

	.navbar-nav .open .dropdown-menu>li{
		padding-left: 0;
	}

	.navbar-nav .open .dropdown-menu>li>a,
	.navbar-nav .open .dropdown-menu .dropdown-header{
		padding: 15px 15px 15px 10px;
	}

	ul.navbar-nav > li{
		display: block;
		padding-left: 30px;
	}

	ul.navbar-nav > li:first-child{
		padding-left: 30px;
	}


	ul.navbar-nav > li.nav-search,
	ul.navbar-nav > li.header-get-a-quote{
		display: none;
	}

	ul.navbar-nav{ width:100%;padding: 0 0 10px;}
	ul.navbar-nav li{ float:none;}
	ul.navbar-nav li a{width:100%;line-height:normal !important;padding:15px 0 10px;color:#fff;border-bottom: 0;}
	ul.navbar-nav .dropdown-menu{ float:none;position: relative; border:0; margin:0; padding:0;}
	ul.navbar-nav .dropdown-menu li a{ padding-left:20px!important; background:none !important;}
	ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu{ left:0;position: relative;}
	ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu a{ padding-left:50px;}
	ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu a i{ margin-top:-22px;}
	ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu li a{ padding-left:35px!important;}
	ul.navbar-nav .dropdown-menu{box-shadow: none;border-top: 0;background: none !important;}
	ul.navbar-nav li a i, .dropdown-submenu>a:after {background: #f5f5f5;border-radius:2px;float: right;width: 36px;height: 28px;line-height: 28px;margin-top: -5px;text-align: center;}
	.dropdown-submenu>a:after{margin-right: 0;}


	ul.navbar-nav > li:hover > a {
   	background: none;
    	color: #ff0763;
	}

	.header-ticket .ticket-btn{
		padding: 10px;
		width: auto;
		margin-top: 10px;
	}

	.header-ticket .ticket-btn i{
		display: none;
	}

	.dropdown-menu.menu-center{
		left: 0;
	}

	.header-transparent .dropdown-menu.menu-center:before{
		position: relative;
		border:0;
		left: 0;
	}

	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    	max-height: 100%;
	}

	/* Header transparent */

	.header .navbar-collapse{
    	padding: 15px;
	}

	.header ul.navbar-nav li a{
		border-top: 1px solid #333;
		border-bottom: 0;

	}

	.header .dropdown-menu li a{
		color: #fff;
	}

	.header ul.navbar-nav li a i, .dropdown-submenu>a:after {
   	background: #333;
 	}


	/* Slideshow */

	#main-slide .item{
		min-height: 500px;
	}

	.slide-title{
		font-size: 32px;
		line-height: 40px;
	}

	.slide-sub-title{
		font-size: 16px;
		line-height: 26px;
	}

	.slider-description.lead{
		font-size: 14px;
	}

	.slider.btn{
		font-size: 12px;
		padding: 10px 25px;
	}


	/* Intro */


	.intro-video{
		display: inline-block;
		margin-top: 30px;
	}

	.featured-tab{
		margin-top: 40px;
	}

	/* Facts */

	.ts-facts .ts-facts-icon{
		margin-right: 0;
	}


	/* Speaker */

	.ts-speaker{
		margin-bottom: 40px;
	}

	/* Pricing */

	.ts-pricing-box{
		margin-bottom: 40px;
	}

	/* Newsletter */

	.newsletter-form h3{
		margin-bottom: 30px;
	}

	.newsletter-form input{
		margin-left: 0;
	}

	/* Venue */

	.ts-venue .contact-info{
		margin-bottom: 30px;
	}

	.venu-info-content{
		margin-bottom: 30px;
	}

	.bottom-contact {
   	padding: 60px 50px 60px 40px;
	}

	/* Latest post */

	.latest-post{
		margin-bottom: 30px;
	}

	.row.no-gutter .ts-speaker-image{
		max-width: 360px;
	}

	.row.no-gutter .ts-speaker{
		margin-bottom: 0;
	}


}

/* Small Devices Potrait */
@media (max-width : 767px){

	/* Top bar */

	ul.top-info{
		text-align: center;
	}

	.top-social{
		text-align: center;
		margin-top: 5px;
	}

	/* Header */

	.navbar-header{
		float: left;
	}

	.logo{
		text-align: center;
		padding-left: 15px;
	}

	.logo img{
		width: 180px !important;
		background-size: contain !important;
	}

	.logo-area{
		padding: 40px 0;
	}

	.logo-area .logo{
		padding-bottom: 40px;
	}

	/* Header fixed*/

	.navbar-fixed-top .logo{
	    /* padding: 20px 0 0 20px; */
	}

	.navbar-fixed-top .navbar-toggle{
		margin-top: 20px;
	}

	.navbar-fixed-top .site-nav-inner{
		margin-top: -5px;
	}


	/* Navigation */

	.site-nav-inner{
		width: 100%;
		display: inline-block;
		background: #1c1c1c;
		background: rgba(0, 0, 0, 0.95);
	}

	.navbar-collapse{
		width: 100%;
		box-shadow: none;
		border: 0;
	}

	ul.navbar-nav > li:hover > a:after,
	ul.navbar-nav > li.active > a:after{
		content: '';
	}

	ul.navbar-nav > li:hover > a {
   	background: none;
    	color: #ff0763;
	}

	.header-ticket .ticket-btn{
		padding: 10px;
		width: auto;
		margin-top: 10px;
	}

	.header-ticket .ticket-btn i{
		display: none;
	}

	.dropdown-menu.menu-center{
		left: 0;
	}

	.header-transparent .dropdown-menu.menu-center:before{
		position: relative;
		border:0;
		left: 0;
	}

	.dropdown-menu li a{
		color: #fff;
	}

	.navbar-nav .open .dropdown-menu>li{
		padding-left: 0;
	}

	.navbar-nav .open .dropdown-menu>li>a,
	.navbar-nav .open .dropdown-menu .dropdown-header{
		padding: 15px 15px 15px 10px;
	}

	ul.navbar-nav > li{
		display: block;
		padding-left: 30px;
		line-height: normal;
	}

	ul.navbar-nav > li:first-child{
		padding-left: 30px;
	}


	ul.navbar-nav > li.nav-search,
	ul.navbar-nav > li.header-get-a-quote{
		display: none;
	}

	ul.navbar-nav{ width:100%;padding: 0 0 10px;}
	ul.navbar-nav li{ float:none;}
	ul.navbar-nav li a{width:100%;line-height:normal !important;padding:15px 0 10px;color:#fff;border-bottom: 0;}
	ul.navbar-nav .dropdown-menu{ float:none;position: relative; border:0; margin:0; padding:0;}
	ul.navbar-nav .dropdown-menu li a{ padding-left:20px!important; background:none !important;}
	ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu{ left:0;position: relative;}
	ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu a{ padding-left:50px;}
	ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu a i{ margin-top:-22px;}
	ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu li a{ padding-left:35px!important;}
	ul.navbar-nav .dropdown-menu{box-shadow: none;border-top: 0;background: none !important;}
	ul.navbar-nav li a i, .dropdown-submenu>a:after {background: #333;border-radius:2px;float: right;width: 36px;height: 28px;line-height: 28px;margin-top: -5px;text-align: center;}
	.dropdown-submenu>a:after{margin-right: 0;}

	/* Header transparent */

	.header .navbar-collapse{
    	padding: 15px;
	}

	.header ul.navbar-nav li a{
		border-top: 1px solid #333;
		border-bottom: 0;
	}

	.header .dropdown-menu li a{
		color: #fff;
	}

	.header ul.navbar-nav li a i, .dropdown-submenu>a:after {
   	background: #333;
   	color: #fff;
 	}


	.navbar-toggle{
		position: absolute;
    	top: 0;
    	right: 20px;
    	margin-top: 25px;
    	z-index: 1;
	}


	/* Slideshow */

	#main-slide .item,
	.page-slider .item{
		min-height: 550px;
		background-position: 70% 50%;
	}

	#main-slide .slider-content{
		width: 90%;
	}

	#main-slide .slider-content.text-left {
    	left: 5%;
	}

	#main-slide .slider-content.text-right{
		right: 5%;
	}

	.slide-title-box{
		font-size: 12px;
		line-height: 29px;
	}

	.slide-title{
		font-size: 32px;
		line-height: 40px;
	}

	.slide-sub-title{
		font-size: 16px;
		line-height: 26px;
	}


	.slider-description.lead{
		font-size: 14px;
	}

	.slider.btn{
		font-size: 10px;
		padding: 10px 15px;
	}


	/* Banner & Counter */

	.banner-content-wrap:before{
		top: -35px;
	}

	.countdown div > span{
		font-size: 48px;
	}

	.countdown .smalltext{
		font-size: 18px;
	}

	.banner-content.text-left .countdown > div.counter-day{
		margin-left: 30px;
	}

	.banner-item{
		min-height: 650px;
	}

	.banner-content, .banner-reg-form {
   	padding: 200px 0;
   }

	.banner-content .banner-title,
	.banner-content .classic-style .banner-title{
		font-size: 28px;
		line-height: 36px;
		margin-top: 10px;
	}

	.banner-subtitle {
   	font-size: 22px;
   	margin-top: 8px;
   }

	.banner-content .banner-desc{
		font-size: 14px;
		margin: 0;
	}

	.banner-btn {
   	margin: 20px 0 0;
	}

	.banner-content .banner-desc span{
		padding: 0 15px;
		display: block;
		margin-bottom: 12px;
	}

	.countdown.classic-style > div{
		margin-bottom: 20px;
	}

	.countdown.countdown-col{
		margin-top: 30px;
	}

	.countdown.countdown-col > div{
		margin: 20px;
	}

	.countdown .smalltext{
		margin-bottom: 10px;
		margin-top: 0;
	}

	/* Intro */


	.intro-video{
		display: inline-block;
		margin-top: 30px;
	}

	.featured-tab{
		margin-top: 40px;
	}

	.featured-tab .nav-tabs > li > a{
		margin-bottom: 20px;
	}


	/* Facts */

	.ts-facts {
    	margin-bottom: 30px;
	}

	.ts-facts .ts-facts-content .ts-facts-num{
		margin: 10px 0;
	}

	/* Speakers */

	.ts-speaker{
		margin-bottom: 50px;
	}

	.ts-speaker-image img{
		width: 100%;
	}

	/* Schedule-tab */

	.schedule-listing{
		padding: 25px 20px;
	}

	.schedule-tab .nav-tabs > li > a{
		margin-bottom: 15px;
	}

	.schedule-slot-info {
    	width: 100%;
    	display: inline-block;
    	margin-top: 15px;
	}


	/* Sponsor */

	.ts-sponsors .container{
		padding-left: 45px;
    	padding-right: 45px;
	}

	.ts-sponsors .sponsor-padding{
		padding-left: 0;
		padding-right: 0;
	}

	.section-title{
		font-size: 16px;
	}

	.section-sub-title, .intro-sub-title{
		font-size: 28px;
	}

	.sponsor-logo{
		margin: 0 0 30px;
	}

	.sponsor-title{
		margin-bottom: 40px;
		font-size: 20px;
	}

	/* Pricing */

	.ts-pricing-box{
		margin-bottom: 0px;
	}


	.ts-pricing-box:not(:first-child) {
		margin-left: 0px;
		margin-top: 40px;
	}
	/* Latest post */

	.latest-post{
		margin-bottom: 30px;
	}

	/* Newsletter */

	.newsletter-form{
		padding: 0 80px 0 20px;
	}

	.newsletter-form h3{
		margin-bottom: 30px;
	}

	.newsletter-form input{
		margin-left: 0;
	}



	/* Venue */

	.ts-venue .contact-info{
		margin-bottom: 30px;
	}

	.ts-venue .venue-img {
		width: 100%;
	}

	.venu-info-content{
		margin-bottom: 30px;
	}

	.bottom-contact {
   	padding: 60px 50px 60px 40px;
	}

	/* Footer */

	.footer-social ul li{
		margin: 15px;
	}

	#back-to-top.affix {
	   bottom: 80px;
	}

	#back-to-top{
		right: 10px;
	}

	.copyright-info{
		font-size: 13px;
		text-align: center;
	}

	.footer-menu {
    	float: none;
    	text-align: center;
	}

	.footer-menu ul li{
		padding-left: 5px;
	}

	.footer-menu ul.nav li a{
		font-size: 12px;
	}

	/* Sub pages */

	.page-banner-title h2{
		font-size: 36px;
	}

	.comments-list .comment-body {
   	margin-left: 0;
	}

	.comments-reply {
   	margin: 0 0 0 10px;
	}

	.sidebar-right{
		margin-top: 40px;
	}

	.sidebar-right .widget {
   	margin-left: 0;
	}

	.share-items{
		float: none !important;
		margin-top: 65px;
	}

	.row.no-gutter .ts-speaker-image{
		max-width: 360px;
	}

	.row.no-gutter .ts-speaker{
		margin-bottom: 0;
	}

	.row.no-gutter > [class^="col-"], .row.no-gutter > [class*="col-"] {
    	padding-left: 15px;
    	padding-right: 15px;
	}

	.ts-intro .pull-right.btn-primary{
		float: none !important;
	}



}

/* Extra Small Devices, Phones */
@media (max-width : 479px) {

	.banner-btn .btn-border{
		margin-top: 10px;
	}

	.banner-content-wrap:before{
		border: 0;
	}

	.countdown.bg-style > div{
    margin: 0 auto;
}

}

/* Custom, iPhone Retina */
@media (max-width : 320px) and (max-width: 478px)  {

	.banner-btn .btn-border{
		margin-top: 10px;
	}

}