/*
	Template Name: Eventor -  Conference & Event HTML Template
	Author: Themewinter
	Author URI: https://themeforest.net/user/themewinter
	Description: Eventor -  Conference & Event HTML Template
	Version: 1.0
*/

/* Table of Content
==================================================
1.	Typography
2.  Global Styles (body, link color, gap, ul, section-title, overlay etc)
3.  Header area
4.	Banner area
5.  Slider
6.	Countdown
7.  Features
8.  Facts
9.	Schedule
10.	Speakers
11.	Sponsors
12.	Pricing
13. Content area
14. Latest blog
15.	Venue
16. Footer
17. Sub Pages
18. Contact Us
19. News Listing
20. News Single
21. Sidebar
22. Error page

*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Lato:400,400i,700,700i,900,900i);

/* Typography
================================================== */

body {
  background: #fff;
  color: #333;
}

body,
p {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1c24;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 24px;
}

/* Global styles
================================================== */

html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

.body-inner {
  position: relative;
  overflow: hidden;
}

a:link,
a:visited {
  text-decoration: none;
}

a {
  color: #c42d2d;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a.read-more {
  color: #c42d2d;
  font-weight: 700;
  text-transform: uppercase;
}

a.read-more:hover {
  color: #222;
}

section,
.section-padding {
  padding: 80px 0;
  position: relative;
}

.gradient-bg {
  position: relative;
}

.gradient-bg .section-title {
  color: #1c1c24;
}

.gradient-bg:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background: -moz-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -o-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -ms-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
}

.bg-overlay.gradient-bg:before {
  z-index: 1;
}

/* Bootstrap No gutter */

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.ts-container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0;
}

.media > .pull-left {
  margin-right: 20px;
}

.gap-60 {
  clear: both;
  height: 60px;
}

.gap-40 {
  clear: both;
  height: 40px;
}

.gap-30 {
  clear: both;
  height: 30px;
}

.gap-20 {
  clear: both;
  height: 20px;
}

.mrb-30 {
  margin-bottom: 30px;
}

.mrb-80 {
  margin-bottom: -80px;
}

.mrt-0 {
  margin-top: 0 !important;
}

.pab {
  padding-bottom: 0;
}

.color-red {
  color: #c42d2d;
}

a:focus {
  outline: 0;
}

.ts-speaker-info .ts-speaker-designation {
  font-size: 14px!important;
  line-height: 18px;
}


.ts-speaker:hover .ts-speaker-image:after, .ts-speaker:hover .ts-speaker-image .social-links,
.ts-speaker-details:hover .ts-speaker-details-img:after, .ts-speaker-details:hover .ts-speaker-details-social {
  opacity: 0!important;
}

img.pull-left {
  margin-right: 20px;
  margin-bottom: 20px;
}

img.pull-right {
  margin-left: 20px;
  margin-bottom: 20px;
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ts-padding {
  padding: 60px;
}

.solid-bg {
  background: #f7f7f7;
  padding: 60px 0;
}

.solid-dark {
  background: #1c1c24;
  color: #fff;
  padding: 60px 0;
}

.solid-dark h2,
.solid-dark h3,
.solid-dark h4 {
  color: #fff;
}

.solid-dark h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.pattern-bg {
  padding: 80px 0;
  background: #eee;
  background: url(../images/pattern3.png);
}

.solid-row {
  background: #f0f0f0;
}

.bg-overlay {
  position: relative;
}

.bg-overlay .container {
  position: relative;
  z-index: 1;
}

.bg-overlay:after {
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.alert .icon {
  margin-right: 15px;
}

/* Dropcap */

.dropcap {
  font-size: 48px;
  line-height: 60px;
  padding: 0 7px;
  display: inline-block;
  float: left;
  font-weight: 700;
  margin: 5px 15px 5px 0;
  position: relative;
  text-transform: uppercase;
}

.dropcap.primary {
  background: #c42d2d;
  color: #fff;
}

.dropcap.secondary {
  background: #3a5371;
  color: #fff;
}

/* Section title */

.section-title,
.intro-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  color: #c42d2d;
}

.section-sub-title,
.intro-sub-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 60px;
  color: #1c1c24;
}

.section-title.title-white,
.section-sub-title.title-white {
  color: #fff;
}

.intro-sub-title {
  margin-bottom: 10px;
}

/* Title classic */

.title-classic {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}

.title-classic span {
  font-size: 16px;
  display: block;
  line-height: 20px;
  font-weight: 400;
}

.title-classic.left {
  margin-top: 0;
}

/* Features box */

.feature-box {
  margin: 30px 0;
}

.feature-box.last {
  margin-bottom: 0;
}

.feature-box .feature-box-media {
  float: left;
}

.feature-box-content {
  margin-left: 115px;
}

.feature-box-icon i {
  text-align: center;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #c42d2d;
  border-radius: 100%;
  font-size: 28px;
  color: #fff;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.feature-title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.feature-box-content .btn-primary {
  padding: 10px 20px;
  margin-top: 10px;
}

.feature-box:hover .feature-box-icon i {
  background: #eee;
  color: #c42d2d;
}

/* Featur box center */

.feature-box-center {
  text-align: center;
}

.feature-box-center .feature-box-content {
  margin-left: 0;
}

/* Video responsive */

.embed-responsive {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Input form */

.form-control {
  box-shadow: none;
  padding: 6px 12px;
  height: 34px;
  background: none;
  color: #333;
  font-size: 12px;
  border-radius: 0;
  border: 0;
  padding-left: 0;
  border-radius: 0;
  border-bottom: 1px solid #dedede;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #c42d2d;
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

hr {
  background-color: #e7e7e7;
  border: 0;
  height: 1px;
  margin: 40px 0;
}

blockquote {
  padding: 8px 20px;
  margin: 8px 0;
  font-size: 16px;
  border-left: 3px solid #c42d2d;
  font-style: italic;
  font-family: Lato;
}

cite {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

.container-fluid .form-control {
  color: #fff;
}

/* Button */

.btn.btn-primary,
.btn-dark,
.btn-border {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 13px 18px;
  line-height: 1.33;
  border-radius: 3px;
  border: 0;
  -webkit-transition: color 400ms, background-color 400ms, border-color 400ms;
  -o-transition: color 400ms, background-color 400ms, border-color 400ms;
  transition: color 400ms, background-color 400ms, border-color 400ms;
}

.btn-white.btn-primary {
  background: #fff;
  color: #c42d2d;
}

.btn.btn-primary {
  background: #c42d2d;
  border: 2px solid transparent;
}

.btn.btn-dark {
  background: #242427;
  border: 2px solid transparent;
}

.btn-border {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

.btn-primary:hover,
.btn-dark:hover,
.btn-white.btn-primary:hover {
  background: #9e2222;
  color: #fff;
}

.btn-border:hover {
  background: #9e2222;
  border: 2px solid transparent;
  color: #fff;
}

.general-btn {
  clear: both;
  margin-top: 60px;
}

.intro-content .btn-border {
  margin-right: 15px;
}

/* Ul, Ol */

.list-round,
.list-arrow,
.check,
.un-check {
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 15px;
}

.list-round li {
  line-height: 28px;
}

.list-round li:before {
  font-family: FontAwesome;
  content: "\f138";
  margin-right: 10px;
  color: #c42d2d;
  font-size: 12px;
}

.list-arrow {
  padding: 0;
}

ul.list-arrow li:before {
  font-family: FontAwesome;
  content: "\f105";
  margin-right: 10px;
  color: #c42d2d;
  font-size: 16px;
}

.check:before {
  font-family: FontAwesome;
  content: "\f00c";
  margin-right: 10px;
  color: #08e700;
  font-size: 12px;
}

.un-check:before {
  font-family: FontAwesome;
  content: "\f00d";
  margin-right: 10px;
  color: #fff;
  font-size: 12px;
}

/* Bootstrap */

.nav-tabs {
  border: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs > li > a {
  border: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

/* Header area
================================================== */

/* Header Standared */

.header {
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

/* Header transparent */

.header.header-transparent {
  background: none;
  box-shadow: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  height: auto;
  -webkit-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.header-transparent ul.navbar-nav > li > a {
  color: #fff;
}

.header-transparent .dropdown-menu.menu-center:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.header-transparent .navbar-nav > li > .dropdown-menu {
  border-radius: 3px;
}

/* Header dark */

.header-dark {
  background: #1c1c1c;
  height: 80px;
}

.header-dark ul.navbar-nav > li > a {
  color: #fff;
}

.imagewrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 80px;
}

@media screen and (max-width: 550px) {
  .imagewrapper {
    margin: 20px;
  }
}

.imagewrapper img {
  width: 100%;
}

/*-- Logo --*/

.logo {
  padding: 22px 0;
}

.logo img {
  max-width: 40px;
  max-height: 40px;
}

/* Main navigation */

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-header {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-header .logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
}

.navbar-header .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  margin-left: 10px;
}

@media screen and (max-width: 968px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-header .title {
    font-size: 18px;
  }
}

.navbar-toggle {
  float: left;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  margin-right: 5px;
  background: #c42d2d;
}

.navbar-toggle .icon-bar {
  background: #fff;
  width: 20px;
}

.navbar-toggle .i-bar {
  background: #fff;
}

ul.navbar-nav {
  float: left;
  display: inline-block;
}

ul.navbar-nav > li {
  float: none;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  line-height: 80px;
}

ul.navbar-nav > li:last-child {
  padding-right: 0;
}

ul.navbar-nav > li:last-child:after {
  background: none;
}

ul.navbar-nav > li > a {
  color: #333;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  display: inline-block;
  padding: 6px 10px;
  line-height: normal;
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  border-radius: 2px;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
  background: none;
}

ul.navbar-nav > li > a i {
  font-weight: 700;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: transparent;
  border: 0;
}

ul.navbar-nav > li.active > a {
  color: #c42d2d;
  position: relative;
}

ul.navbar-nav > li:hover > a {
  background: #c42d2d;
  color: #fff;
}

/* Dropdown */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -2px;
  border-radius: 0;
}

.dropdown-submenu > a:after {
  display: block;
  content: "\f105";
  font-family: FontAwesome;
  float: right;
  margin-top: 0;
  margin-right: -5px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
  text-align: left;
  background: #fff;
  z-index: 999999999;
  min-width: 200px;
  border: 0;
  padding: 20px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu.menu-center {
  left: -65px;
}

.dropdown-menu-large {
  min-width: 400px;
}

.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-menu-large > li > ul > li > a {
  padding-left: 0;
}

.navbar-nav > li > .dropdown-menu a {
  background: none;
}

.dropdown-menu li a {
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  color: #333;
}

.dropdown-menu li:last-child > a {
  border-bottom: 0 !important;
}

.navbar-nav > li > .dropdown-menu > .active > a,
.navbar-nav > li > .dropdown-menu > .active > a:hover,
.navbar-nav > li > .dropdown-menu > .active > a:focus,
.navbar-nav > li > .dropdown-menu > .active > .dropdown-menu > .active > a {
  color: #c42d2d;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  color: #c42d2d;
  background: none !important;
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
  }
}

@media (min-width: 767px) {
  ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    display: none;
  }
  ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
}

/* Get a quote */

.header-ticket .ticket-btn {
  color: #fff;
  background: #c42d2d;
}

.header-ticket .ticket-btn:hover,
.header-ticket .ticket-btn:focus {
  background: #c42d2d;
  color: #fff;
}

/* Banner area
================================================== */

#banner {
  padding: 0;
}

.banner-item {
  min-height: 800px;
  color: #fff;
  /* background-attachment: fixed; */
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
}

.banner-content,
.banner-reg-form {
  padding: 280px 0;
  width: 100%;
  vertical-align: middle;
  position: relative;
  color: #fff;
  z-index: 1;
}

.banner-content.text-left {
  padding: 300px 0 260px;
}

.banner-content.text-left .countdown > div.counter-day {
  margin-left: 0;
}

.banner-content-wrap {
  position: relative;
}

/* .banner-content-wrap:before {
    content: '';
    position: absolute;
    top: -65px;
    width: 100%;
    max-width: 380px;
    text-align: center;
    height: 500px;
    left: 50%;
    margin-left: -190px;
    z-index: -1;
    border: 18px solid rgba(104,89,222,0.35);
    box-sizing: border-box;
    box-shadow: 0 60px 40px -40px rgba(0,0,0,0.3);
} */

.banner-title {
  color: #fff;
  font-size: 62px;
  line-height: 72px;
  text-transform: uppercase;
}

.banner-subtitle {
  font-size: 36px;
  color: #fff;
}

.banner-desc {
  font-size: 24px;
  color: #fff;
}

.banner-btn {
  margin: 40px 0 0;
}

.banner-btn a {
  margin: 0 6px;
}

/* Hero big date */

.hero-big-date {
  padding: 20px 50px;
  color: #fff;
  background-color: rgba(255, 8, 86, 0.7);
  height: 250px;
}

.hero-big-date h3 {
  font-size: 130px;
  margin: 0;
  color: #fff;
}

.hero-big-date h4 {
  font-size: 32px;
  margin: 0;
  color: #fff;
}

.hero-big-date-content {
  padding: 50px;
  background-color: rgba(30, 30, 38, 0.7);
  height: 250px;
}

.hero-big-date-content .banner-title {
  font-size: 40px;
  line-height: 48px;
  margin: 0;
}

.hero-big-date-content .banner-subtitle {
  font-size: 20px;
}

/* Banner title equal */

.banner-title-euqal {
  font-size: 62px;
  line-height: 76px;
  color: #fff;
}

/* Banner Registration form */

.banner-item.reg-form-area {
  padding: 280px 0;
}

.banner-item.reg-form-area .banner-content,
.banner-item.reg-form-area .banner-reg-form {
  padding: 0;
}

.banner-reg-form-inner {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.banner-reg-form-inner h3 {
  font-size: 28px;
  line-height: 36px;
  color: #fff;
  margin-top: 0;
}

.banner-reg-form-inner .form-control {
  border: 1px solid #454545;
}

.banner-reg-form-inner textarea.form-control {
  height: 44px;
}

/* Event Info area
================================================== */

.event-info {
  background: #222;
  padding: 35px 0;
}

.event-info-icon {
  float: left;
  font-size: 36px;
  color: #fff;
}

.event-info-content {
  margin-left: 50px;
  color: #fff;
}

.event-info-title {
  font-size: 20px;
  color: #c42d2d;
  margin: 0 0 5px;
}

.event-info-intro {
  margin: 0;
}

/* Slider
================================================== */

/*-- Main slide --*/

#main-slide .item {
  min-height: 800px;
  color: #fff;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
}

#main-slide .item img {
  width: 100%;
  -webkit-backface-visibility: hidden;
}

#main-slide .item .slider-content {
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#main-slide .item.active .slider-content {
  opacity: 1;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}

#main-slide .slider-content {
  top: 50%;
  padding: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#main-slide .slider-content.text-left {
  left: 10%;
  max-width: 800px;
}

#main-slide .slider-content.text-right {
  right: 10%;
}

.slider-content {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
}

.slide-title {
  font-size: 52px;
  line-height: 62px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.slide-sub-title {
  font-style: normal;
  font-size: 24px;
  line-height: 38px;
  margin: 10px 0 20px;
  color: #fff;
  font-weight: 700;
}

.slider-text {
  display: table;
  vertical-align: bottom;
  color: #fff;
  padding-left: 40%;
  width: 100%;
  padding-bottom: 0;
  padding-top: 20px;
}

.slider-text .slide-head {
  font-size: 36px;
  color: #0052a5;
  position: relative;
}

.slider-img {
  display: block;
  position: absolute;
  top: -80px;
  left: 20%;
  width: 314px;
  max-height: 100%;
}

.slider-img img {
  display: block;
  position: relative;
  max-height: 100%;
  width: auto;
}

.slider.btn {
  margin: 15px 5px 0;
  border: 2px solid transparent;
}

.slider.btn.btn-border {
  border: 2px solid #fff;
}

.slider.btn.btn-border:hover {
  border: 2px solid transparent;
}

.slider-description {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  margin: 20px 0 30px;
}

/* Carousel control */

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  margin: 1px !important;
  border-radius: 100% !important;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.5);
}

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
  background: #c42d2d;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

#main-slide .carousel-control.left,
#main-slide .carousel-control.right,
#main-slide .carousel-indicators {
  opacity: 0;
  filter: alpha(opacity=0);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#main-slide:hover .carousel-control.left,
#main-slide:hover .carousel-control.right,
#main-slide:hover .carousel-indicators {
  opacity: 1;
  filter: alpha(opacity=100);
}

#main-slide .carousel-control .fa-angle-left,
#main-slide .carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#main-slide .carousel-control .fa-angle-left {
  left: 20px;
}

#main-slide .carousel-control .fa-angle-right {
  right: 20px;
}

#main-slide .carousel-control i {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 58px;
  width: 60px;
  height: 60px;
  font-size: 36px;
  border-radius: 0;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#main-slide .carousel-control i:hover {
  background: #c42d2d;
  color: #fff;
}

#main-slide .carousel-indicators {
  display: none !important;
}

/*-- Animation */

.carousel .item.active .animated1 {
}

.carousel .item.active .animated2 {
  -webkit-animation: slideInLeft 0.5s ease-in 300ms both;
  animation: slideInLeft 0.5s ease-in 300ms both;
}

.carousel .item.active .animated3 {
  -webkit-animation: fadeInLeft 1.5s ease-in-out 300ms both;
  animation: fadeInLeft 1.5s ease-in-out 300ms both;
}

.carousel .item.active .animated4 {
  -webkit-animation: lightSpeedIn 1.5s ease-in 300ms both;
  animation: lightSpeedIn 1.5s ease-in 300ms both;
}

.carousel .item.active .animated5 {
  -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
  animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6 {
  -webkit-animation: fadeInRight 1s ease-in 200ms both;
  animation: fadeInRight 1s ease-in 200ms both;
}

.carousel .item.active .animated7 {
  -webkit-animation: fadeInRight 1.5s ease-in 300ms both;
  animation: fadeInRight 1.5s ease-in 300ms both;
}

.carousel .item.active .animated8 {
  -webkit-animation: bounceInDown 1s ease-in 800ms both;
  animation: bounceInDown 1s ease-in 800ms both;
}

/* Countdown Default
================================================== */

.countdown > div {
  display: inline-block;
  margin: 0 50px;
  text-align: center;
  font-family: Lato, sans-serif;
}

.countdown div > span {
  line-height: 100%;
  font-size: 62px;
  font-weight: 700;
}

.countdown .smalltext {
  top: 0;
  line-height: 100%;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
}

.countdown > div.counter-day {
  color: #c42d2d;
}

.countdown > div.counter-hour {
  color: #c42d2d;
}

.countdown > div.counter-minute {
  color: #c42d2d;
}

.countdown > div.counter-second {
  color: #c42d2d;
}

/* Countdown col */

.countdown.countdown-col {
  border-left: 1px solid #dedede;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 25px;
}

.countdown.countdown-col > div {
  margin: 0 40px 0 0;
}

.countdown.countdown-col div > span {
  font-size: 48px;
}

.countdown.countdown-col .smalltext {
  font-size: 20px;
}

/* Countdown bg */

.countdown.bg-style {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.countdown.bg-style div > span {
  font-size: 28px;
  width: 65px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
}

.countdown.bg-style div > .smalltext {
  font-size: 20px;
  text-transform: capitalize;
}

div.counter-day,
div.counter-hour,
div.counter-minute,
div.counter-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.countdown.bg-style > div.counter-day .days {
  background: #c42d2d;
  background: -moz-linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
  background: -webkit-linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
  background: linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
}

.countdown.bg-style > div.counter-day .smalltext {
  font-size: 16px;
  color: #fff;
}

.countdown.bg-style > div.counter-hour .hours {
  background: #c42d2d;
  background: -moz-linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
  background: -webkit-linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
  background: linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
}

.countdown.bg-style > div.counter-hour .smalltext {
  font-size: 16px;
  color: #fff;
}

.countdown.bg-style > div.counter-minute .minutes {
  background: #c42d2d;
  background: -moz-linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
  background: -webkit-linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
  background: linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
}

.countdown.bg-style > div.counter-minute .smalltext {
  font-size: 16px;
  color: #fff;
}

.countdown.bg-style > div.counter-second .seconds {
  background: #c42d2d;
  background: -moz-linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
  background: -webkit-linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
  background: linear-gradient(145deg, #c42d2d 0%, #c42d2d 100%);
}

.countdown.bg-style > div.counter-second .smalltext {
  font-size: 16px;
  color: #fff;
}

/* banner-content-left */

.banner-content-left .countdown > div {
  margin-left: 0;
  margin-right: 100px;
}

/* Intro Area
================================================== */

.ts-intro {
  padding-bottom: 20px;
}

.ts-intro .btn-primary {
  margin-top: 15px;
}

.ts-intro-center .section-sub-title {
  margin-bottom: 15px;
}

.ts-intro-center .intro-desc {
  max-width: 850px;
  margin: 0 auto;
}

.intro-content {
  float: left;
}

.ts-intro .pull-right.btn-primary {
  margin-right: 20px;
}

/* Intro video */

.intro-video {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: -60px;
}

.intro-video:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -o-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -ms-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
}

.video-icon {
  text-align: center;
  color: #fff;
  display: block;
  top: 50%;
  margin-top: -50px;
  font-size: 32px;
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  line-height: 65px;
  border: 7px solid #fff;
  display: inline-block;
  border-radius: 100%;
}

.video-icon i {
  margin-left: 5px;
}

/*-- Featured Tab --*/

.featured-tab {
  padding-left: 15px;
}

.featured-tab .nav-tabs {
  border: 0;
}

.featured-tab .nav-tabs > li > a {
  color: #fff;
  background: #1c1c24;
  text-shadow: none;
  border-radius: 25px;
  font-weight: 700;
  margin: 0 10px 0 0;
  padding: 10px 25px;
  border: 0;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.featured-tab .tab-content {
  border-top: 0;
  padding: 0;
  overflow: hidden;
}

.featured-tab .nav.nav-tabs {
  margin-bottom: 30px;
}

.featured-tab .nav-tabs > li.active > a {
  color: #fff;
  background: #c42d2d;
}

.featured-tab .nav-tabs > li.active > a {
  position: relative;
}

.featured-tab .tab-pane img.pull-left {
  margin: 0 20px 10px 0;
}

.featured-tab .tab-pane img.pull-right {
  margin: 0 0 0 20px;
}

.tab-content-title {
  font-size: 20px;
  margin: 0 0 15px;
  line-height: 22px;
}

/* Intro single image */

.intro-content-area {
  padding-left: 30px;
}

.intro-person-img {
  margin-bottom: -100px;
  margin-top: -80px;
}

/* Facts
================================================== */

.facts-area {
  color: #ffffff;
  background-color: #1c1c24;
  background-image: url(../images/parallax1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  padding: 100px 0;
}

.facts-area.bg-color {
  background: #1c1c24;
  padding: 60px 0 40px;
}

.facts .intro-title {
  color: #fff;
  margin-top: 0;
}

.facts .btn-dark {
  margin-top: 15px;
}

.fact-text {
  padding-top: 10px;
}

.facts-wrapper .ts-facts {
  border-right: 1px solid #dedede;
  margin-right: 20px;
}

.solid-dark .facts-wrapper .ts-facts {
  border-right: 1px solid #dedede;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.facts-wrapper .ts-facts.last {
  border-right: 0;
  margin-right: 0;
}

.ts-facts .ts-facts-img {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.ts-facts .ts-facts-content {
  display: inline-block;
}

.ts-facts .ts-facts-content .ts-facts-num {
  font-size: 36px;
  margin: 0;
}

.ts-facts .ts-facts-content .ts-facts-title {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 0;
}

/* Schedule
================================================== */

.schedule-tab,
.schedule-content .container {
  max-width: 960px;
  margin: 0 auto;
}

.schedule-tab .nav-tabs {
  text-align: center;
  margin-bottom: 40px;
}

.schedule-tab .nav-tabs > li {
  float: none;
  display: inline-block;
  zoom: 1;
}

.schedule-tab .nav-tabs > li > a {
  color: #fff;
  background: #1c1c24;
  border-radius: 3px;
  padding: 13px 30px;
  margin: 0 2px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.schedule-tab .nav-tabs > li.active > a {
  background: #c42d2d;
  color: #fff;
}

/* Schedule listing */

.schedule-date {
  font-size: 24px;
  margin-bottom: 40px;
  color: #c42d2d;
  text-align: center;
}

.schedule-listing {
  padding: 25px 40px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  position: relative;
  border-radius: 5px;
}

.schedule-listing.bg {
  background: #f5f5f5;
}

.schedule-slot-time {
  width: 20%;
  float: left;
  font-weight: 700;
}

@media screen and (max-width: 550px) {
  .schedule-slot-time {
    width: 100%;
  }
}

.schedule-slot-info {
  width: 80%;
  display: inline-block;
}

.schedule-slot-speakers {
  width: 58px;
  height: 58px;
  border-radius: 5px;
  position: absolute;
  top: 15;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.schedule-slot-info-content {
  margin-left: 100px;
}

@media screen and (max-width: 550px) {
  .schedule-slot-info-content {
    margin-left: 0;
  }
}

.schedule-slot-speaker-name {
  color: #c42d2d;
  margin: 0;
  font-size: 16px;
}

.schedule-slot-title {
  margin: 5px 0;
  font-size: 20px;
  line-height: 1.3;
}

/* Speakers
================================================== */

/* Speakers bg */

.ts-speakers-bg {
  background-color: #f5f5f5;
  background-image: url(../images/parallax1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 80px 0;
}

/* Speaker item */

.ts-speaker {
  background: #fff;
  box-shadow: 0 25px 35px -20px rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  margin-bottom: 35px;
}

.ts-speaker:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  box-shadow: 0 60px 40px -40px rgba(0, 0, 0, 0.13);
}

/* Speaker img */

.ts-speaker-image {
  position: relative;
  text-align: center;
}

.ts-speaker-image:after {
  content: "";
  position: absolute;
  background: rgba(41, 41, 41, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.ts-speaker-image .social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -45px;
  z-index: 1;
  width: 96px;
  opacity: 0;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.ts-speaker-image .social-links li {
  display: inline-block;
  margin: 0 -3px 0px -2px;
}

.ts-speaker-image .social-links li a i {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: #fff;
  background: #2b2b2b;
  text-align: center;
}

.ts-speaker-image .social-links li a i.fa-facebook {
  background: #496daf;
}

.ts-speaker-image .social-links li a i.fa-twitter {
  background: #64acf1;
}

.ts-speaker-image .social-links li a i.fa-instagram {
  background: #d32a1e;
}

.ts-speaker-image .social-links li a i.fa-linkedin {
  background: #0077b5;
}

.ts-speaker-image .social-links li a i:hover {
  background: #1b1b1b;
}

.ts-speaker-info {
  padding: 15px 20px;
  color: #303030;
}

.ts-speaker-info .ts-speaker-name {
  font-size: 18px;
  margin: 0 0 3px 0;
}

.ts-speaker-info .ts-speaker-name {
  color: #c42d2d;
}

.ts-speaker-info .ts-speaker-designation {
  font-size: 16px;
}

.ts-speaker:hover .ts-speaker-image:after,
.ts-speaker:hover .ts-speaker-image .social-links {
  opacity: 1;
}

/* Speaker no gutter */

.row.no-gutter .ts-speaker {
  box-shadow: none;
}

.row.no-gutter .ts-speaker:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Speakers list */

.ts-speaker-details {
  border: 1px solid #dedede;
  border-radius: 5px;
  text-align: center;
}

.ts-speaker-details-img {
  position: relative;
}

.ts-speaker-details-img img {
  border-radius: 5px 5px 0 0;
}

.ts-speaker-details-img:after {
  content: "";
  position: absolute;
  background: rgba(17, 17, 17, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.ts-speaker-details-social {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 1;
  opacity: 0;
  width: 100%;
  text-align: center;
}

.ts-speaker-details:hover .ts-speaker-details-img:after,
.ts-speaker-details:hover .ts-speaker-details-social {
  opacity: 1;
}

.ts-speaker-details-social li {
  display: inline-block;
}

.ts-speaker-details-social li a {
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
}

.ts-speaker-details .ts-speaker-info p {
  margin-bottom: 0;
}

.ts-speaker-details .ts-speaker-info .ts-speaker-name {
  font-size: 24px;
}

.ts-speaker-session.right {
  padding-left: 20px;
}

.ts-speaker-session.left {
  padding-right: 20px;
}

.ts-speaker-session .session-title {
  font-size: 24px;
  margin-top: 0;
}

/* Newsletter
================================================== */

.ts-newsletter {
  background: url(../images/pattern1.png);
  padding: 100px 0;
}

.newsletter-form {
  position: relative;
  z-index: 1;
  padding: 0 80px;
}

.newsletter-form h2 {
  color: #c42d2d;
  margin-top: 0;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}

.newsletter-form h3 {
  color: #fff;
  margin: 5px 0 0;
  font-size: 30px;
}

.newsletter-form form {
  margin-top: 5px;
}

.newsletter-form input {
  width: 100%;
  display: inline-block;
  font-size: 12px;
  text-transform: capitalize;
  height: 50px;
  margin-left: 20px;
  padding-left: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #1d1c1c;
}

.newsletter-form button {
  position: absolute;
  top: 5px;
  right: -50px;
  border-radius: 0 25px 25px 0;
  padding: 15px 40px;
  height: 50px;
  border: 0 !important;
  border-radius: 0 !important;
}

/* Sponsors
================================================== */

.ts-sponsors {
  background: url(../images/pattern1.png);
  padding: 50px 0;
}

.ts-sponsors-title {
  color: #f7f7f7;
}

.ts-sponsors .sponsor-padding {
  /* padding-left: 130px; */
  /* padding-right: 130px; */
}

.sponsor-title {
  max-width: 750px;
  margin: 0 auto;
}

.sponsoren-logo {
  margin: 10px 0;
  /* background: #f7f7f7; */
  min-height: 125px;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sponsor-logo img {
  height: 100%;
  max-height: 8.5rem;
  height: auto;
}

/* Sponsor details */

.sponsor-details {
  /* margin: 60px 0; */
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sponsor-details-bg {
  color: #fff;
  background-color: #1c1c1c;
}

.sponsor-details .sponsor-logo {
  margin: 0;
  background: none;
}

.sponsor-info .sponsor-name {
  font-size: 23px;
  margin-top: 20px;
  color: #c42d2d;
}

.sponsor-web-link a i {
  font-size: 18px;
  color: #303030;
  border-radius: 100%;
  margin: 10px 3px 0 3px;
}

.sponsor-web-link a {
  color: #fff;
}

.sponsor-web-link a:hover i {
  color: #c42d2d;
}

/* Pricing
================================================== */

.ts-pricing {
  background-color: #f5f5f5;
  background-image: url(../images/parallax2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0;
}

.ts-pricing-box {
  background: #fff;
  padding: 50px;
  font-size: 14px;
  border-radius: 5px;
}

.ts-pricing-box:not(:first-child) {
  margin-left: 40px;
}

.ts-pricing-box.bg {
  background: #f9f9f9;
}

.ts-pricing-header {
  position: relative;
}

.ts-pricing-name {
  font-size: 18px;
  line-height: normal;
  margin: 0 0 20px 0;
}

.ts-pricing-price {
  font-size: 44px;
  margin: 15px 0 0;
  display: inline-block;
  position: relative;
}

.ts-pricing-price .currency {
  position: absolute;
  font-size: 18px;
  top: -10px;
  left: -12px;
}

.ts-pricing-price strong {
  display: inline-block;
  margin-right: 5px;
}

.ts-pricing-price > small {
  font-size: 16px;
  line-height: 16px;
}

.ts-pricing-features {
  padding: 25px 0 15px;
}

.ts-pricing-features > ul > li {
  padding: 5px 0;
}

.ts-pricing-features > ul > li:first-child {
  border-top: 0;
}

.ts-pricing-features > ul {
  padding: 0;
}

.plan-action .btn-primary {
  background: #1c1c24;
}

/* Pricing featured */

.ts-pricing-box.pricing-featured {
  color: #fff;
  background: -moz-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -o-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: -ms-linear-gradient(
    145deg,
    rgba(216, 79, 58, 0.75) 5%,
    rgba(216, 79, 58, 0.75) 100%
  );
  background: linear-gradient(145deg, #c42d2d 5%, #c42d2d 100%);
}

.ts-pricing-box.pricing-featured h2,
.ts-pricing-box.pricing-featured .ts-pricing-price > small {
  color: #fff;
}

/* Content area
================================================== */

/* Accordion */

.panel-default > .panel-heading {
  background: none;
  border-radius: 0;
  position: relative;
  padding: 6px 20px;
}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 10px;
}

.panel-body {
  padding: 20px 20px 10px 20px;
}

.panel-body > img {
  max-width: 100px;
  margin-bottom: 10px;
}

h4.panel-title {
  font-size: 18px;
  background: none;
  border: 0;
  padding: 8px 0 8px 0;
  line-height: normal;
  border-radius: 0;
}

h4.panel-title a {
  color: #c42d2d;
}

h4.panel-title span {
  float: right;
}

h4.panel-title a.collapsed {
  color: #333;
}

h4.panel-title a:before {
  background: #c42d2d;
  color: #fff;
  width: 26px;
  height: 26px;
  line-height: 26px;
}

h4.panel-title a.collapsed:before {
  background: #303030;
  color: #fff;
}

h4.panel-title a:before,
h4.panel-title a.collapsed:before {
  font-family: "FontAwesome";
  position: absolute;
  z-index: 0;
  font-size: 14px;
  right: 15px;
  padding: 0 5px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

h4.panel-title a:before {
  content: "\f106";
}

h4.panel-title a.collapsed:before {
  content: "\f107";
}

/* Accordion classic */

.panel-classic .panel-heading {
  padding-left: 15px;
}

.panel-classic h4.panel-title a:before,
.panel-classic h4.panel-title a.collapsed:before {
  position: relative;
  content: "";
  font-size: 0;
}

/* Latest blog
================================================== */

.latest-post-media {
  position: relative;
}

.latest-post-media .post-item-date {
  position: absolute;
  background: #c42d2d;
  color: #fff;
  top: 15px;
  left: 15px;
  text-align: center;
  padding: 8px 13px 4px;
  border-radius: 3px;
  width: 52px;
  height: 52px;
}

.latest-post-media .post-item-date .day {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -8px;
}

.latest-post .post-title {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 10px;
  font-weight: 700;
}

.latest-post .post-title a {
  color: #303030;
}

.latest-post .post-title a:hover {
  color: #c42d2d;
}

.latest-post .post-item-author {
  margin-left: 8px;
}

.latest-post .post-body {
  padding: 20px 0 5px;
}

/* Venue Info
================================================== */

.venu-info-content {
  padding: 0 20px;
}

.venu-info-img {
  margin-bottom: 15px;
  display: inline-block;
}

/* Venue Map
================================================== */

.venu-map .container-fluid {
  padding-right: 0;
  padding-left: 0;
  background: #1c1c24;
}

.bottom-contact {
  padding: 60px 50px 60px 140px;
}

.bottom-contact h3 {
  font-size: 28px;
  color: #fff;
  margin: 0 0 20px;
}

.contact-form-bottom .form-control {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-full {
  width: 100%;
}

.map {
  height: 400px;
  z-index: 1;
}

.map-bottom {
  height: 575px;
}

/* Footer
================================================== */

.footer {
  background-color: #101015;
  color: #666666;
  padding: 50px 0;
  position: relative;
  background-attachment: fixed;
}

.footer .container {
  z-index: 10;
  position: relative;
}

/*-- Footer menu --*/

.footer-menu ul li {
  display: inline-block;
  line-height: 12px;
}

.footer-menu ul.nav li a {
  background: none;
  color: #fff;
  padding: 10px 15px;
}

.footer-menu ul li a:hover {
  color: #fff;
}

/*-- Footer logo */

.footer-logo {
  margin: 30px 0;
}

/* Footer social */

.footer-social {
  margin: 40px 0;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social ul li {
  margin: 0 15px;
  display: inline-block;
}

.footer-social ul li a i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  position: relative;
}

.footer-social ul li a i:after {
  content: "";
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.footer-social ul li a:hover i:after {
  border: 1px solid #c42d2d;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.footer-social ul li a i:hover {
  color: #fff;
}

.footer-social ul li a .fa-instagram {
  color: #d32a1e;
}

.footer-social ul li a .fa-facebook {
  color: #677fb5;
}

.footer-social ul li a .fa-twitter {
  color: #70c2e9;
}

.footer-social ul li a .fa-google-plus {
  color: #c53942;
}

.footer-social ul li a .fa-linkedin {
  color: #3daccf;
}

.footer-social ul li a .fa-youtube {
  color: #bb0000;
}

.footer-social ul li a .fa-instagram {
  color: #125688;
}

/*-- Copyright --*/

.copyright-info {
  margin: 40px 0 0;
}

.copyright-info a:hover {
  color: #bb0000;
}

#back-to-top {
  right: 40px;
  top: auto;
  z-index: 10;
  -webkit-backface-visibility: hidden;
}

#back-to-top.affix {
  bottom: 30px;
}

#back-to-top .btn.btn-primary {
  width: 48px;
  height: 48px;
  line-height: 44px;
  border-radius: 100%;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
}

#back-to-top .btn.btn-primary:hover {
  color: #fff;
  background: #000;
}

/* Sub Pages
================================================== */

/* Page banner area */

.page-banner-area {
  position: relative;
  min-height: 450px;
  color: #fff;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
}

.page-banner-title {
  z-index: 1;
  position: absolute;
  top: 50%;
  width: 100%;
  /* height: 100%; */
  margin-top: -40px;
}

.page-banner-title h2 {
  color: #fff;
  font-size: 60px;
}

.page-banner-title .breadcrumb {
  background: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.page-banner-title .breadcrumb a:hover {
  color: #ccc;
}

.breadcrumb {
  padding: 0;
  background: none;
}

.breadcrumb a:hover {
  color: #fff;
}

.breadcrumb > li {
  font-weight: 400;
}

/*-- About us page --*/

.about-img-2nd {
  margin-bottom: 25px;
}

/*-- Chart --*/

.percent-area {
  border-right: 1px solid #dedede;
  text-align: center;
}

.percent-area.last {
  border-right: 0;
}

.percent-area .chart {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
}

.percent-area .chart .percent {
  display: inline-block;
  line-height: 150px;
  z-index: 2;
  font-size: 32px;
  color: #333;
}

.percent-area .chart .percent:after {
  content: "";
  margin-left: 0.1em;
  font-size: 24px;
}

.percent-area .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent-area small {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-top: 15px;
}

/* Action */

.ts-action.bg-image {
  background-color: #f5f5f5;
  background-image: url(../images/parallax2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 80px 0;
  color: #fff;
}

.ts-action.bg-image h2 {
  color: #fff;
}

.ts-action.bg-image p.lead {
  max-width: 750px;
  margin: 20px auto;
  font-size: 18px;
  line-height: 30px;
}

/* Gallery */

.gallery-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  height: auto;
}

/* .gallery-container a {
    width: 100%;
    height: 100%;
} */

.intro-gallery .gallery-container {
  height: auto;
  margin-bottom: 15px;
}

.gallery-container img {
  -webkit-transform: perspective(1px) scale3d(1.1, 1.1, 1);
  transform: perspective(1px) scale3d(1.1, 1.1, 1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.gallery-container:hover img {
  -webkit-transform: perspective(1px) scale3d(1.15, 1.15, 1);
  transform: perspective(1px) scale3d(1.15, 1.15, 1);
}

.gallery-container:after {
  opacity: 0;
  /* position: absolute; */
  content: "";
  top: 0;
  right: auto;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.gallery-container:hover:after {
  opacity: 1;
}

.gallery-container .gallery-icon {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: #c42d2d;
  color: #fff;
  opacity: 0;
  -webkit-transform: perspective(1px) scale3d(0, 0, 0);
  transform: perspective(1px) scale3d(0, 0, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.gallery-container:hover .gallery-popup .gallery-icon {
  opacity: 1;
  -webkit-transform: perspective(1px) scale3d(1, 1, 1);
  transform: perspective(1px) scale3d(1, 1, 1);
}

/*-- Partners carousel --*/

.partner-logo {
  border: 1px solid #eee;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.partner-logo img {
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.partner-logo:hover img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

#partners-carousel .partner-logo {
  border: 0;
  border-right: 1px solid #eee;
  padding: 0 15px;
  margin-top: 20px;
}

#partners-carousel .partner-logo.last {
  border-right: 0;
}

/*-- Team page --*/

.ts-team-wrapper {
  position: relative;
  overflow: hidden;
}

.ts-team-content {
  position: absolute;
  top: 76%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  margin-top: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.ts-team-wrapper:hover .ts-team-content {
  top: 0;
  padding-top: 50px;
}

.ts-team-content .ts-name {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 3px;
  line-height: normal;
  color: #c42d2d;
}

.ts-team-content .ts-designation {
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 700;
}

.team-social-icons a i {
  color: #fff;
  margin-right: 8px;
  text-align: center;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.team-social-icons a i:hover {
  color: #c42d2d;
}

/* Team Classic */

.ts-team-content-classic .ts-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.ts-team-content-classic .ts-designation {
  color: #888;
  margin-bottom: 5px;
  font-weight: 600;
}

.ts-team-content-classic .team-social-icons a i {
  color: #999;
}

.ts-team-content-classic .team-social-icons a i:hover {
  color: #c42d2d;
}

/* Contact Us
================================================== */

.contact-info-box {
  margin-top: 20px;
}

.contact-info-box i {
  float: left;
  font-size: 24px;
  color: #c42d2d;
}

.contact-info-box-content {
  padding-left: 40px;
}

.contact-info-box-content h4 {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
}

.contact-info-box-content p {
  margin-bottom: 0;
}

label {
  font-weight: 400;
}

/* News Listing
================================================== */

.post {
  border-bottom: 1px solid #eee;
  padding: 0 0 30px;
  margin: 0 0 45px;
}

.post.last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.post-body {
  padding: 20px 0;
}

.post-media {
  position: relative;
}

.post-meta-date {
  position: absolute;
  background: #c42d2d;
  color: #fff;
  top: 15px;
  left: 15px;
  text-align: center;
  padding: 8px 13px 4px;
  border-radius: 3px;
  width: 52px;
  height: 52px;
}

.post-meta-date .day {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -8px;
}

.entry-header .entry-title {
  font-size: 24px;
  margin: 5px 0 15px;
  position: relative;
  line-height: 34px;
}

.entry-header .entry-title a {
  color: #303030;
}

.entry-header .entry-title a:hover {
  color: #c42d2d;
}

/* Meta */

.post-meta {
  padding-bottom: 10px;
}

.post-meta a {
  color: #303030;
}

.post-meta a:hover {
  color: #c42d2d;
}

.post-meta span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #eee;
  line-height: 12px;
  display: inline-block;
}

.post-meta i {
  color: #bbb;
  margin-right: 3px;
}

.post-meta .post-comment {
  border-right: 0;
}

.post-meta .post-comment .comments-link {
  margin-left: 5px;
}

.post-footer .btn.btn-primary {
  font-size: 12px;
  margin-top: 10px;
  padding: 12px 25px;
}

/* Pagination */

.paging {
  margin-bottom: -5px;
  text-align: center;
}

.pagination {
  margin: 0;
}

.pagination li a {
  border-radius: 0 !important;
  margin-right: 8px;
  color: #7c7c7c;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > li > a:hover {
  color: #fff;
  background: #c42d2d;
  border: 1px solid transparent;
}

/* News Single
================================================== */

.tags-area {
  margin: 20px 0;
}

.post-tags a {
  border: 1px solid #eee;
  color: #7c7c7c;
  display: inline-block;
  font-size: 12px;
  padding: 3px 10px;
  margin-left: 3px;
  border-radius: 3px;
}

.post-tags a:hover {
  background: #c42d2d;
  color: #fff;
  border: 1px solid transparent;
}

/* Post social */

.post-social-icons > li {
  display: inline-block;
}

.post-social-icons a i {
  margin-left: 5px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
}

.post-social-icons a i.fa-facebook {
  background: #677fb5;
}

.post-social-icons a i.fa-twitter {
  background: #70c2e9;
}

.post-social-icons a i.fa-google-plus {
  background: #c53942;
}

.post-social-icons a i.fa-linkedin {
  background: #3daccf;
}

/* Author box */

.author-box {
  border: 1px solid #eee;
  padding: 20px 20px 15px;
  margin: 20px 0;
  border-radius: 5px;
}

.author-img img {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin-right: 30px;
}

.author-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.author-info h3 span {
  font-size: 14px;
  color: #959595;
  border-left: 1px solid #afafaf;
  padding-left: 8px;
  margin-left: 5px;
}

.author-info p {
  margin-bottom: 5px;
}

/* Comments area */

.comments-area {
  margin: 40px 0;
}

.comments-list .comment-content {
  margin: 15px 0;
}

.comments-list .comment-reply {
  color: #303030;
  font-weight: 400;
}

.comments-list .comment-reply:hover {
  color: #c42d2d;
}

.comments-counter {
  font-size: 18px;
}

.comments-counter a {
  color: #323232;
}

.comments-list {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.comments-list .comment {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.comments-list .comment.last {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.comments-list img.comment-avatar {
  width: 84px;
  height: 84px;
  border-radius: 100%;
  margin-right: 30px;
}

.comments-list .comment-body {
  margin-left: 110px;
}

.comments-list .comment-author {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  color: #303030;
}

.comments-list .comment-date {
  color: #959595;
  margin-bottom: 5px;
  font-size: 12px;
}

.comments-reply {
  list-style: none;
  margin: 0 0 0 70px;
}

.comments-form {
  margin-bottom: 0;
}

.comments-form .form-control {
  border: 1px solid #dedede;
  padding: 6px 12px;
}

.comments-form .title-normal {
  margin-bottom: 20px;
}

.comments-form .btn.btn-primary {
  margin-top: 20px;
}

/* Sidebar
================================================== */

.sidebar .widget-title {
  border-left: 3px solid #c42d2d;
  padding-left: 15px;
  margin: 0 0 20px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
}

/* Widget common */

.sidebar .widget {
  margin-bottom: 40px;
}

.sidebar-left .widget {
  margin-right: 20px;
}

.sidebar-right .widget {
  margin-left: 20px;
}

.sidebar .widget.box {
  padding: 25px;
}

.widget.box.solid {
  background: #f2f2f2;
}

.widget.box.red {
  background: #ec483b;
  color: #fff;
}

.widget.box.red .widget-title {
  color: #fff;
}

.widget ul li {
  line-height: 30px;
}

.sidebar .widget ul li a {
  color: #303030;
}

.sidebar .widget ul li a:hover {
  color: #c42d2d;
}

.sidebar .widget ul li i {
  margin-right: 5px;
}

.sidebar .btn {
  font-weight: 700;
  font-size: 12px;
  margin-top: 15px;
  padding: 10px 25px;
}

/* Sidebar nav */

.sidebar ul.nav-tabs {
  border: 0;
}

.sidebar ul.nav-tabs li a {
  color: #303030;
  border-radius: 0;
  padding: 15px 0;
  padding-left: 0;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.sidebar ul.nav-tabs li.active a,
.sidebar ul.nav-tabs li:hover a {
  color: #c42d2d;
}

.sidebar ul.nav-tabs li {
  color: #303030;
  line-height: normal;
}

.sidebar ul.nav-tabs li:last-child a {
  border-bottom: 0;
}

/* Service menu */

.sidebar ul.service-menu li a {
  background-color: #f4f4f4;
  font-family: "Roboto Slab", serif;
  padding: 15px 20px;
  border: 0;
  margin-bottom: 8px;
  position: relative;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.sidebar ul.service-menu li.active a,
.sidebar ul.service-menu li:hover a {
  background: #c42d2d;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.sidebar ul.service-menu li a:before {
  content: "\f105";
  font-family: FontAwesome;
  padding-right: 10px;
  font-weight: normal;
}

/* Recent News */

.widget.recent-posts .widget-title {
  margin-bottom: 35px;
}

.widget.recent-posts ul li {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 17px;
}

.widget.recent-posts ul li:last-child {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.widget.recent-posts .posts-thumb img {
  margin-right: 15px;
  width: 90px;
  height: 65px;
}

.widget.recent-posts .post-info .entry-title {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.widget.recent-posts .entry-title a {
  color: #303030;
}

.widget.recent-posts .entry-title a:hover {
  color: #c42d2d;
}

.widget.recent-posts .post-date {
  font-weight: 400;
  color: #999;
  text-transform: capitalize;
}

/* Widget tags */

.widget-tags ul > li {
  float: left;
  margin: 3px;
}

.sidebar .widget-tags ul > li a {
  border: 1px solid #eee;
  color: #303030;
  display: block;
  font-size: 14px;
  padding: 3px 15px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar .widget-tags ul > li a:hover {
  background: #c42d2d;
  color: #fff;
  border: 1px solid transparent;
}

/* Error page
================================================== */

.error-page .error-code h2 {
  display: block;
  font-size: 200px;
  line-height: 200px;
  color: #303030;
  margin-bottom: 20px;
}

.error-page .error-body .btn {
  margin-top: 30px;
  font-weight: 700;
}
